
<section>
  <% if @lists == [] %>
    <div class="card-out card list fade-in">
      <% if current_user.image.attached? %>
        <%= cl_image_tag (current_user.image.key), crop: :thumb , id: "avatar-lists"%>
      <% else %>
        <%= image_tag "avatar.png", id: "avatar-lists" %>
      <% end %>
      <%= image_tag "out-of-content.png", alt: "Out of content"%>
      <div class="controls mt-3">
        <%= link_to "Add your list" , new_list_path, class: "add" %>
      </div>
      <a href="/" class="back"><i id="arrow-left" class="fa-solid fa-arrow-left-long"></i></a>
    </div>
  <% else %>
  <div class="card list fade-in">
      <div class="list-index">
        <%= cl_image_tag (current_user.image.key), crop: :thumb , id: "avatar-lists"%>
        <h2 class="text-4xl font-bold"><%= current_user.nickname %>'s lists!</h2>
          <% @lists.each do |list| %>
            <div class="lists">
              <%= link_to list.title, list_path(list), class: "text-2xl w-full border-2 rounded-2xl py-1" %>
              <%= link_to list, class: "trash-index", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do%>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </div>
          <% end %>
      </div>
      <div class="controls mt-3">
        <%= link_to "Add your list" , new_list_path, class: "add" %>
      </div>
      <a href="/" class="back"><i id="arrow-left" class="fa-solid fa-arrow-left-long"></i></a>
    <% end %>
  </div>
</section>
