<%# <section> %>
  <div class="card list fade-in">
    <a href="/lists" class="back"><i id="arrow-left" class="fa-solid fa-arrow-left-long"></i></a>
    <h2 class="text-5xl font-bold">create  your list!</h2>
    <%= form_for @lists do |f| %>
      <div class="field mt-5">
        <%= f.text_field :title, autofocus: true, autocomplete: "off", class: "bg-transparent border-b-2 outline-0 text-lg", :required => true  %>
        <%= f.label :title , class: "label", id: "label-list" %><br />
      </div>

      <div class="field" id="formfield" data-controller="hello">
        <div class="controls mt-2">
          <%= f.label "please add your itens here:" , class: "text-md" %><br />
          <button type="button" class="add mt-2 mx-4" data-action="click->hello#add">Add</button>
        </div>
        <div class="input-button">
          <%= f.text_field :items, autocomplete: "off", name: "items[]" , class: "bg-transparent border-b-2 outline-0 text text-center", :required => true, :placeholder => "Add your items here" %>
          <button type="button" class="trash-index" id="trash-item" data-action="click->hello#remove"><i class="fa-solid fa-trash-can"></i></button>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "create your list!!", class: "mt-5" %>
      </div>
    <% end %>
  </div>
<%# </section> %>
