<%# <section> %>
  <% if @followers == [] %>
      <div class="card-out card list fade-in">
        <% if @user.image.attached? %>
          <%= cl_image_tag (current_user.image.key), crop: :thumb , id: "avatar-lists"%>
        <% else %>
          <%= image_tag "avatar.png", id: "avatar-lists" %>
        <% end %>
          <%= image_tag "out-of-content.png", alt: "Out of content"%>
          <a href="/" class="back"><i id="arrow-left" class="fa-solid fa-arrow-left-long"></i></a>
          <div class="controls mt-3">
            <%= link_to "Home page" , root_path, class: "add" %>
          </div>
  <% else %>
      <div class="card list fade-in">
          <% if @user.image.attached? %>
            <%= cl_image_tag (@user.image.key), crop: :thumb , id: "avatar-lists"%>
          <% else %>
            <%= image_tag "avatar.png", id: "avatar-lists" %>
          <% end %>
          <a href="/" class="back"><i id="arrow-left" class="fa-solid fa-arrow-left-long"></i></a>
          <div class="list-index">
            <h3 class="text-2xl font-bold">friends request!</h3>
            <% @followers.each do |followers| %>
                <div class="lists flex-col border-2 rounded-2xl p-4">
                  <h3 class="text-2xl font-bold"><%= followers.nickname %></h3>
                  <p><%= followers.email %></p>
                  <%= link_to "Add your friend!", follow_user_path(followers.id),class: "add-friend", method: :post, remote: true%>
                </div>
            <% end %>
          </div>
        <a href="/" class="back"><i id="arrow-left" class="fa-solid fa-arrow-left-long"></i></a>
      </div>
  <% end %>
<%# </section> %>
