<section>
  <div class="card fade-in">
    <% if current_user %>
      <% if current_user.image.attached? %>
        <%= cl_image_tag (current_user.image.key), crop: :thumb, class: "avatar"%>
      <% else %>
        <%= image_tag "avatar.png" , class: "avatar" %>
      <% end %>
        <div class="dropdown" data-controller="hello">
          <button data-action="click->hello#showButton click@window->hello#hideButton" class="dropbtn"><i class="fa-solid fa-caret-down"></i></button>
            <div id="myDropdown" class="dropdown-content">
              <%= button_to 'friends requests', friends_request_user_path(current_user),method: :get, class: ''%>
              <%= button_to 'friends', friends_user_path(current_user),method: :get, class: ''%>
              <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: ''%>
            </div>
        </div>
    <% end %>
    <h1>Let's build ours <span>lists!!</span></h1>
    <% if current_user %>
      <div class="card-buttons">
        <a href="<%=lists_path%>" class="button-start text-center">Get started</a>
        <a href="<%=to_do_lists_path%>" class="button-start text-center">To-do List</a>
        <div class="log-about">
          <a href="/about" class="mt-16" id="about-button">About us</a>
        </div>
      </div>
    <% else %>
      <div style="display: flex; flex-direction: column; align-items: center; gap: 108px;">
        <a href="<%=new_user_session_path%>" class="button-start text-center">Login</a>
        <div class="log-about" style="gap:20px;">
          <%= link_to "Sign-up free!", new_user_registration_path, class: 'button-logout'%>
          <a href="/about" id="about-button">About us</a>
        </div>
      </div>
    <% end %>
  </div>
</section>
