
<section>
  <% if @to_do == [] %>
    <div class="card-out card list fade-in">
      <%= cl_image_tag (current_user.image.key), crop: :thumb , id: "avatar-lists"%>
      <%= image_tag "out-of-content.png", alt: "Out of content"%>
      <div class="controls mt-3">
        <%= link_to "Add your list" , new_to_do_list_path, class: "add" %>
      </div>
      <a href="/" class="back"><i id="arrow-left" class="fa-solid fa-arrow-left-long"></i></a>
    </div>
  <% else %>
    <div class="card-to-do list fade-in">
      <div class="list-index">
        <%= cl_image_tag (current_user.image.key), crop: :thumb , id: "avatar-lists"%>
        <h2 class="text-3xl font-bold"><%= current_user.nickname %>'s To-do!</h2>
          <% @to_do.each do |to_do| %>
            <div class="w-full border-2 rounded-2xl p-4" style="position: relative">
                <div>
                  <%= to_do.name %>
                </div>
                <div>
                  <%= to_do.desc %>
                </div>
                <div>
                  <%= to_do.date.strftime("%A %b,%d") %>
                </div>
              <%= link_to to_do, class: "trash-index", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do%>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </div>
          <% end %>
      </div>
      <div class="controls mt-3">
        <%= link_to "Add your list" , new_to_do_list_path, class: "add" %>
      </div>
      <a href="/" class="back"><i id="arrow-left" class="fa-solid fa-arrow-left-long"></i></a>
    </div>
  <% end %>
</section>
