<%# <section> %>
  <div class="card list fade-in">
    <a href="/to_do_lists" class="back"><i id="arrow-left" class="fa-solid fa-arrow-left-long"></i></a>
    <h2 class="text-5xl font-bold">create  your list!</h2>
    <%= form_for @to_do do |f| %>
      <div class="field mt-5">
        <%= f.text_field :name, autofocus: true, autocomplete: "off", class: "bg-transparent border-b-2 outline-0 text-lg", :required => true  %>
        <%= f.label :name , class: "label" %><br />
      </div>
      <div class="field mt-5">
        <%= f.text_field :desc, autofocus: true, autocomplete: "off", class: "bg-transparent border-b-2 outline-0 text-lg", :required => true  %>
        <%= f.label :description , class: "label" %><br />
      </div>
      <div class="field text-left mt-5">
        <%= f.date_field :date, min: Date.today, autofocus: true, autocomplete: "off", class: "date", :required => true  %>
        <%= f.hidden_field :status %>
      </div>

      <div class="actions">
        <%= f.submit "Add a To-do!!", class: "mt-5" %>
      </div>
    <% end %>
  </div>
<%# </section> %>
